# collaborative filtering

In [1]:
import import_ipynb
import import_data
import Arranging_data
import Similarity_method1
import Similarity_method2

importing Jupyter notebook from import_data.ipynb
importing Jupyter notebook from Arranging_data.ipynb
importing Jupyter notebook from Similarity_method1.ipynb
importing Jupyter notebook from Finding_similarity.ipynb
importing Jupyter notebook from Similarity_method2.ipynb

In [2]:
from collections import Counter
user_searches= ['1004','1137', '538', '59','1137']
cnt_user_searches1=Counter(user_searches)
print (cnt_user_searches1)

n_recommendations=5 # Length of recommendation list
n_most_similar_sessions=10

Counter({'1137': 2, '1004': 1, '538': 1, '59': 1})

## Import data

In [3]:
data= import_data.import_csv('data10000.csv')
import_data.print_data_analysis(data)

Number of users: 5473
Number of sessions: 10000

## Arranging the data

### Creating a DataFrame

In [4]:
data= Arranging_data.create_DataFrame(data)
data.head()

,userId,sessionId,unique_cityCodes,city_searches,city,searches
0,00000c568387486fa098dc6e7877ac39,QBF035wej9AIY5BwcK3CvwS3,"538, 538, 538, 1137, 538","(1137, 1)",1137,1
0,00000c568387486fa098dc6e7877ac39,QBF035wej9AIY5BwcK3CvwS3,"538, 538, 538, 1137, 538","(538, 4)",538,4
1,0000149a372445099994a7c62e90b9cc,vtTItlZyHTdrkBEv0paqmWD8,"663, 663","(663, 2)",663,2
2,0000276420114c46b06424c7345ca224,CTD5Fk6oGLMXIFi1fK9pvBFE,"1193, 1193","(1193, 2)",1193,2
3,00002a2fd8754ce7b6e5996e54013233,#NAME?,"2141, 2141, 2141, 2141, 2141, 2141, 2141","(2141, 7)",2141,7

### Transforming the data

<div>
<img src="img/fig_transforming_data.png" width="600"/>
</div>

In [5]:
utility_matrix=Arranging_data.transforming_data (data)
utility_matrix=Arranging_data.remove_unknown_sessions (utility_matrix,['#NAME?','#VALUE!'])
utility_matrix.head()

city,100,1004,1007,101,1010,1016,1018,102,1020,1025,...,975,9753,9757,9766,9791,983,985,992,994,9999
sessionId,,,,,,,,,,,,,,,,,,,,,
--SS7AAOdQiZw-8ELzGhXzRl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-0cHwyHOaXPGLWS4arrsBCYL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-1eElRzWXT79N8CHk0dj4Wss,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-2TYMW_r150Gcjmcja3X5-qs,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-2paK0sRSK6UfzlvOKp28Kn3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Finding similarity

### Method 1: Similarity function A - Counting identical searches

<div>
<img src="img/sim_f_a.png" width="400"/>
</div>

In [6]:
utility_matrix_Method_1=Similarity_method1.calc_similarity_method_1(utility_matrix,user_searches)
utility_matrix_Method_1=Similarity_method1.filter_at_least_one_city_in_common(utility_matrix_Method_1)
utility_matrix_Method_1=Similarity_method1.add_a_total_row(utility_matrix_Method_1)

utility_matrix_Method_1

city,100,1007,101,1010,1016,1018,102,1020,1025,103,...,9753,9757,9766,9791,983,985,992,994,9999,similarity
sessionId,,,,,,,,,,,,,,,,,,,,,
-4lygmKxUPx6HsdFxWtKvtWG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
-4vDoIou9Qi8Nn-a8X-F7Y3Z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
-6AsttK8gelW19J0l0MRgxuq,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
-78oIEpq2laAMhRyQNZ64rTF,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
00QHI8by_qjXGkhpwjSekRJW,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zl31C6jdL3xMyQ7cgPpmLb2Z,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
zsN1XHloXkOvAa70ZkFXRJ2E,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
zudnWd26ZuxjsIdHcwL5PEyy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
zyttMOywS9QJV4f-VxeWZmJs,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
total,26,0,0,6,20,0,0,1,2,2,...,2,0,0,0,0,0,0,0,8,1514

#### Creating a sorted matrix of cities and the amount of their searches and get recommendations list

In [7]:
sorted_recommendations_matrix_Method_1=Similarity_method1.get_sorted_city_searches_matrix(utility_matrix_Method_1)
recommendations_list_Method_1= Similarity_method1.get_top_X_recommendations_list(sorted_recommendations_matrix_Method_1 , n_recommendations)
recommendations_list_Method_1

['183', '139', '1467', '252', '963']

### Method 2: Similarity function B

<div>
<img src="img/sim_f_b.png" width="500"/>
</div>

In [8]:
utility_matrix_Method_2=Similarity_method2.calc_similarity_method_2(utility_matrix,user_searches)
utility_matrix_Method_2=Similarity_method2.get_N_most_similar_sessions(utility_matrix_Method_2, n_most_similar_sessions)

# # Reduced display 
utility_matrix_Method_2.loc[(utility_matrix_Method_2).any(1), (utility_matrix_Method_2!=0).any(0)].head()

city,1085,1228,1295,1467,149,1667,1730,183,1836,1843,1938,252,similarity
sessionId,,,,,,,,,,,,,
49PkYXXUnuG6u3PmmXllYHt7,0,0,0,2,0,0,1,0,0,0,0,0,37
Zp-Dd5IfbzRt5XwqzALzh7Vq,2,0,0,4,0,1,0,2,1,6,0,1,27
rfzhK9kkjhKqGhfUTxzsEKIU,0,0,0,0,0,0,0,0,0,0,0,0,26
S1-HASXuZQURIS6v4zpVNTvw,0,1,1,0,8,0,0,1,0,1,2,0,24
fpiCaMJU3_DwMe7TKlw9430q,0,0,0,0,0,0,0,0,0,0,0,0,24

#### Recommendations list

In [9]:
sorted_recommendations_matrix_Method_2=Similarity_method2.get_sorted_city_searches_matrix(utility_matrix_Method_2)
# recommendations_list_Method_2= Similarity_method1.get_top_X_recommendations_list(sorted_recommendations_matrix_Method_2 , n_recommendations)
# recommendations_list_Method_2

lstt=list(filter(None, sorted_recommendations_matrix_Method_2))
#sorted_recommendations_matrix_Method_2.replace('[]', np.nan, inplace=True)
lstt

['1467',
 '1730',
 '1085',
 '1467',
 '1667',
 '183',
 '1836',
 '1843',
 '252',
 '1228',
 '1295',
 '149',
 '183',
 '1843',
 '1938',
 '1085',
 '1938']